---
import type {CollectionEntry} from "astro:content";
import {getCollection} from 'astro:content';
import BaseLayout from "@src/layouts/BaseLayout.astro";

export async function getStaticPaths() {
    const posts = await getCollection('posts');
    return posts.map(entry => ({
        params: {slug: entry.slug}, props: {entry},
    }));
}

const {entry}: {
    entry: CollectionEntry<'posts'>
} = Astro.props;
const {Content} = await entry.render();
---

<BaseLayout title={entry.data.title}>
    <article class="container pt-8">
        <header class="pb-4 mb-8 border-b">
            <h1 class="my-2 text-black leading-tight">{entry.data.title}</h1>
        </header>
        <div class="post-content">
            <Content/>
        </div>
    </article>
</BaseLayout>
