---
import type {CollectionEntry} from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Giscus from "@/components/Giscus.astro";
import PostMeta from "@/components/PostMeta.astro";
import {Site} from "@/config";
import {getAllPosts} from "@/lib/post";

interface Props {
    entry: CollectionEntry<'posts'>
}

export async function getStaticPaths() {
    const posts = await getAllPosts();
    return posts.map(entry => ({
        params: {slug: entry.slug}, props: {entry},
    }));
}

const {entry} = Astro.props;
const {slug} = Astro.params;

const title = entry.data.title
const description = entry.data.description
const category = entry.data.category
const tags = entry.data.tags
const frontmatter = entry.data
const ogImageAbsoluteUrl = `${Site.baseUrl}/images/og.png`;
const {Content, headings} = await entry.render();
---

<BaseLayout title={title}>
    <PostMeta
            title={title}
            description={description}
            publishDate={frontmatter.date.toISOString()}
            pagePath={`/posts/${slug}`}
            ogImageAbsoluteUrl={ogImageAbsoluteUrl}
            slot="meta"
    />

    <article class="container pt-8">
        <div class="fixed left-4 max-w-40 text-xs">
            <nav>
                {headings.map((heading) => (
                        <a class="block py-0.5" href={`#${heading.slug}`}>{heading.text}</a>
                ))}
            </nav>
        </div>
        <header class="pb-4 mb-8 border-b">
            <h1 class="my-2 text-black leading-tight">{entry.data.title}</h1>
        </header>
        <div class="post-content">
            <Content/>
        </div>
        <div class="flex flex-row">
            <p class="basis-1/12">Category</p>
            <p class="grow">
                <a class="ml-2 inline-block border border-blue-600 px-2 rounded"
                   href={`/categories/${category}`}> {category} </a>
            </p>
        </div>
        <div class="flex flex-row">
            <p class="basis-1/12">Tags</p>
            <p class="grow">
                {tags.map((tag) => (
                        <a class="mt-1 ml-2 inline-block border border-blue-600 px-2 rounded"
                           href={`/tags/${tag}`}> {tag} </a>
                ))}
            </p>
        </div>
    </article>
    <hr class="border-gray-200 mt-10 mb-4">
    <Giscus/>
</BaseLayout>
