---
import type {CollectionEntry} from "astro:content";
import {getCollection} from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import {titleCase} from "title-case";
import _ from "lodash";
import PageMeta from "@/components/PageMeta.astro";
import PostList from "@/components/PostList.astro";

export async function getStaticPaths() {
    const posts = await getCollection('posts')
    let tags: Record<string, CollectionEntry<'posts'>[]> = {}
    for (let post of posts) {
        for (let tag of post.data.tags) {
            if (!tags[tag]) {
                tags[tag] = []
            }
            tags[tag].push(post)
        }
    }
    return _.entries(tags).map(([tag, posts]) => ({
        params: {tag: tag}, props: {posts, tag}
    }))
}

const {posts, tag}: {
    posts: CollectionEntry<'posts'>[]
    tag: string,
} = Astro.props;
const title = titleCase(tag)
---

<BaseLayout title={title}>
    <PageMeta title={title} slot="meta"/>
    <h1 class="text-center text-5xl">{title}</h1>
    <PostList posts={posts}/>
</BaseLayout>
