---
import {getCollection} from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro"
import _ from 'lodash'
import PageMeta from "@/components/PageMeta.astro";

const posts = await getCollection('posts');
const categories = posts.map((entry) => entry.data.category)
const categoryCounts = _.countBy(categories)
const title = "Categories"
---

<BaseLayout title={title}>
    <PageMeta title={title} slot="meta"/>
    <div class="mx-auto">
        <h1 class="text-center text-5xl">{title}</h1>
        <div class="mt-8">
            {_.entries(categoryCounts).map(([category, count]) => (
                    <a class="border-6 m-2 rounded text-xl" href={`/categories/${category}`}>
                        {category}<sup>{count}</sup>
                    </a>
            ))}
        </div>
    </div>
</BaseLayout>
